@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

@layer utilities {
  .pt-safe {
    padding-top: var(--sat);
  }
  .pb-safe {
    padding-bottom: var(--sab);
  }
  .h-screen-dynamic {
    height: 100dvh;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: contain;
}

/* Ensure buttons don't have grey highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}
